library/bin/
library/gen/
library/.settings/
library/.project
library/.classpath
library/local.properties

samples/bin/
samples/gen/
samples/.settings/
samples/.project
samples/.classpath
samples/local.properties
